apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: website-data-pvc
  namespace: company-website
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: gp2  # AWS EBS storage class